/* general rules */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

html{
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding-left: 0;
  }

li {
    padding: 10px 0;
    padding: 20px;
    text-indent: -12px;
}

i {
    padding-right: 5px;
    display: inline-block;
}

h1 {
    font-size: 52px;
    font-weight: 900;

}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-weight: 600;

}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

.arrow {
    width: 40px;
    height: auto;
}

.button {
    padding: 8px 10px;
    text-align: center;
}

.blue:hover {
    color: black;
    background-color: rgb(238, 238, 238);
}

.blue {
    background-color: rgb(67, 67, 255);
    color: white;
    font-size: 18px;
    text-align: center;

}

.white {
    color: black;
    border: 2px solid black;
    background-color: white;
}

.white:hover {
    color: white;
    background-color: black;
}

.short {
    width: 20%;
}

.long {
    width: 100%;
}

.divline {
    border: 1px solid rgb(219, 219, 219);

}

section {
    background-color: white;
    width: 100%;
}

.conteiner {
    max-width: 1024px;
    margin: auto;
}

/* Header */
header {
    background-color: white;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}


.header-nav {
    width: 100%;
    max-width: 2000px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lightgray;
    width: 500px;
}

.navbox:last-child {
    width: 450px;
}

.navitems {
    height: 70px;
    line-height: 70px;
}

.navitems:hover {
    border-bottom: 3px solid black;
}

.navbox img {
    width: 120px;
    height: auto;
}

/* main section */
.catch {
    background-color: lightblue;
    position: relative;
    min-height: 700px;
}

.catch .conteiner {
    width: 70%;
    min-height: 700px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    bottom: -70px;
    left: 50%;
    translate: -50% 0%;
}

.catchbox {
    display: flex;
}

.catchbox-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 300px;
    height: 400px;
}

.jumbo { 
    width: 70%;
    height: auto;
}

/* plan section */
#plan .conteiner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
}

.selectors {
    margin: 50px 0;
    width: 100%;
}

.selectors span {
    margin-right: 40px;
}

.planbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.plansheet {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(219, 219, 219);
    width: 30%;
    min-height: 900px;
    gap: 10px;
}

.plantype {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid rgb(219, 219, 219);
}

.plancontent {
    display: flex;
    padding: 15px;
    flex-direction: column; 
    max-width: 600px;
    gap: 20px;
}

.plancontent div a {
    color: blue;
}

.planbottom {
    width: 100%;
    min-height: 200px;
    border: 2px solid rgb(219, 219, 219);
}

/* image section */
.flexbox {
    display: flex;
    justify-content: space-between;

}
.image, .info-section {
    margin: 150px 0;
    padding: 30px 0;
}

.imagebox {
    display: flex;
    min-height: 200px;
}

.imagebox img {
    max-width: 60%;
    height: auto;
}

.imagebox-content {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 50px;
}

.imagebox-content * {
    margin: 8px 0;
}

/* info section */
.infobox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.info-items {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-items img {
    max-width: 100%;
    height: auto;
}

.info-items * {
    padding-bottom: 20px;
}

/* catchfrase section */
.catchfrase .conteiner {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-right: 20%;
}

/* sponsor section */
.sponsorbox {
    display: flex;
    height: 30vw;
    justify-content: space-between;
}

.sponsor-squarebox {
    display: flex;
    flex-flow: row wrap;
    gap: 0;
    width: 30%;
  
}

.squarebox-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.squarebox-items img {
    max-width: 60%;
    height: auto;
    filter: invert(100%);
}

.sponsor-content {
    display: flex;
    flex-direction: column;
    justify-content: ;
    overflow-y: auto;
    width: 40%;
    padding: 35px;
    gap: 50px;
}

.sponsor-content img {
    max-width: 50%;
    height: auto;
}

/* colorcatch section */
.colorcatch {
    background-color: lightblue;
}

.colorcatch .conteiner {
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
}

.colorcatch .conteiner h3 {
    width: 45%;
}

/* faq section */
.faq {
    padding: 150px 0;
}

.faq .conteiner {
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-height: 800;
}

.faqitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80px;
    padding-right: 20px;
    border-top: 2px solid rgb(219, 219, 219);
}

.faqitem:last-of-type {
    border-bottom: 2px solid rgb(219, 219, 219);
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    min-height: 500px;
    padding: 80px 10%;
    background-color: black;
    color: white;
}

.footer-navbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-navitems {
    min-width: 15%;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    gap: 30px; 
}

.footer-navitems li > a {
    color: white;
}

.footer-navitems li > a:hover {
    color: rgb(130, 130, 130);
}



